{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {% if user.phoneNumber is defined %}
    <p>Telefoonnummer: {{ user.phoneNumber }}</p>
    {% endif %}
    {% if user.city is defined %}
    <p>Stad: {{ user.city }}</p>
    <p>Straat: {{ user.street }}</p>
    <p>Huisnummer: {{ user.houseNumber }}</p>
        <a href="{{ path('fos_user_profile_edit') }}">Adres aanpassen</a>
        {% else %}
    <a href="{{ path('fos_user_profile_edit') }}">Adres toevoegen</a>
    {% endif %}
    <br><a href="{{ path('fos_user_change_password') }}">Wachtwoord veranderen</a><br>
    <a href="{{ path('fos_user_profile_edit') }}">Gegevens aanpassen</a><br>
    <a href="{{ path('bestelling') }}">Bekijk bestellingen</a>
</div>
