{% extends 'base.html.twig' %}

{% block title %}Bestelling index{% endblock %}

{% block body %}
    <h1>Bestellingen</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Geplaatst door</th>
            <th>Betaald</th>
            <th>Betaald op</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for order in Orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user }}</td>
                <td>{{ order.payed ? 'Ja' : 'nee' }}</td>
                <td>{{ order.payedAt|date("m/d/Y H:m:s") }}</td>
                <td><a href="{{ path('bestelling_producten', {'id': order.id }) }}">Bekijke producten</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">U heeft geen bestellingen</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
