<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        <style>
        {% block stylesheets %}{% endblock %}
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Topics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('topic_index') }}">Topics</a>
                        <a class="dropdown-item" href="{{ path('topic_unchecked') }}">Unchecked Topics</a>
                        <a class="dropdown-item" href="{{ path('topic_rejected') }}">Rejected Topics</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('category_index') }}" class="nav-link">Category</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('fos_user_profile_show') }}" class="nav-link">Profiel</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if app.user %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger navbar-btn navbar-right" style="margin-right: 15px;">Logout</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-success navbar-btn navbar-right" style="margin-right: 15px;">Login</a>
                {% endif %}
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row mt-2">
            <div class="col-lg-8">
                {% block body %}{% endblock %}
            </div>
            <div class="col-lg-4">
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <form action="{{ path('post_search') }}" method="get">
                            <div class="input-group">
                                <input type="text" name="param" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-secondary" type="button" value="Go!">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">
                        Hot Topics
                        <i class="fab fa-hotjar"></i>
                    </h5>
                    <div class="card-body">
                        <div class="row topics"></div>
                    </div>
                </div>
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script>
            const url = Routing.generate('populair_category')

            const settings = {
                "async": true,
                "crossDomain": true,
                "url": url,
                "method": "GET",
            }

            $.ajax(settings).done(function (response) {
                const row = document.getElementsByClassName('topics')[0]

                console.log(response)

                let index = 0

                for (let x = 0; x < 2; x++) {
                    const col = document.createElement('div')
                    col.className = 'col-lg-6'

                    const list = document.createElement('ul')
                    list.className = 'list-unstyled mb-0'

                    for (let y = 0; y < response.length / 2; y++) {
                        const topic = response[index]
                        index++

                        const listItem = document.createElement('li')
                        const link = document.createElement('a')

                        link.innerText = topic.Name
                        link.setAttribute('href', '/r/' + topic.Path)

                        listItem.appendChild(link)
                        list.appendChild(listItem)
                        col.appendChild(list)
                        row.appendChild(col)
                    }
                }
            });
        </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
        <script src="https://kit.fontawesome.com/81e8e26547.js" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
