{% extends 'base.html.twig' %}

{% block title %}VAT{% endblock %}

{% block body %}
    <h1>VAT</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vat.id }}</td>
            </tr>
            <tr>
                <th>Scale</th>
                <td>{{ vat.scale }}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ vat.percentage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vat_index') }}">back to list</a>

    <a href="{{ path('vat_edit', {'id': vat.id}) }}">edit</a>

    {{ include('vat/_delete_form.html.twig') }}
{% endblock %}
